<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.dsatab" android:versionCode="13" android:versionName="1.6">
	<application android:debuggable="false" android:label="@string/app_name" android:icon="@drawable/icon" android:name="com.dsatab.activity.DSATabApplication">
		<activity android:theme="@style/Theme.MapBackground"
			android:windowSoftInputMode="adjustResize" android:name="com.dsatab.activity.MainCharacterActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name="com.dsatab.activity.DsaPreferenceActivity"
			android:label="Einstellungen" android:theme="@style/Theme.NoTitle"></activity>
		<activity android:name="com.dsatab.activity.MapActivity" android:label="Karten"
			android:theme="@style/Theme.WhiteBackground"></activity>
		<activity android:name="com.dsatab.activity.NotesActivity"
			android:label="Notizen" android:theme="@style/Theme.MapBackground"></activity>
		<activity android:name="com.dsatab.activity.ItemChooserActivity"
			android:label="Inventar" android:theme="@style/Theme.ItemsBackground"></activity>
		<activity android:label="Inventar" android:theme="@style/Theme.MapBackground"
			android:name="com.dsatab.activity.ItemsActivity"></activity>
		<activity android:name="com.dsatab.activity.NotesEditActivity"
			android:label="Notizen" android:theme="@style/Theme.MapBackground"
			android:windowSoftInputMode="stateVisible|adjustResize"></activity>
		<activity android:name="com.dsatab.activity.HeroChooserActivity"
			android:theme="@style/Theme.MapBackground" android:label="Held auswählen"></activity>
		<activity android:theme="@style/Theme.MapBackground"
			android:label="Talente" android:name="com.dsatab.activity.MainTalentActivity"></activity>
		<activity android:theme="@style/Theme.MapBackground"
			android:name="com.dsatab.activity.MainSpellActivity"></activity>
		<activity android:theme="@style/Theme.MapBackground"
			android:name="com.dsatab.activity.MainFightActivity" android:windowSoftInputMode="stateHidden|adjustResize"></activity>
		<activity android:theme="@style/Theme.MapBackground"
			android:name="com.dsatab.activity.MainBodyActivity"></activity>
			
		<activity android:name="com.paypal.android.MEP.PayPalActivity" android:theme="@android:style/Theme"></activity>
	</application>
	<uses-sdk android:minSdkVersion="5" android:targetSdkVersion="8" />

	<supports-screens android:smallScreens="false" 
		android:largeScreens="true" android:resizeable="true"
		android:anyDensity="true" android:normalScreens="true"/>

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="com.paypal.android.MEP.PayPalActivity" />
	
	<uses-feature android:required="false"
		android:name="android.hardware.microphone"></uses-feature>
	<uses-feature android:required="false"
		android:name="android.hardware.sensor.gyroscope"></uses-feature>
	<uses-feature android:required="true"
		android:name="android.hardware.touchscreen"></uses-feature>
</manifest> 